.heading
{
font-size: 50px;
width: 100%;
margin: 0px;
color:rgb(0, 0, 0)
}

#status
{
font-size: 18px;
color:rgb(0, 0, 0)
}

body
{
    background-size:cover;
    background-position: center;
    font-family: 'Croissant One', cursive;
    font-size:25px;
    color:rgb(0, 0, 0)
}

canvas
{
    box-shadow:10px 10px 10px rgb(6, 78, 78);
    border-radius:10px;
}

a
{
    color:black;
}

